@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


h1 {font-size: 40px;}

body.body2 {
    font-family: 'Staatliches';
    }
dl {
  margin-left: 20px;
}

h2 {font-size:22px;

color:rgb(172, 130, 130);
text-align: center;}

p {font-size:20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
;color: tomato;
text-align: center;}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.contenedor {
  width:100%;
  max-width: 1200px;
  margin:0;
  display:grid;
  grid-gap:0;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,auto);
  grid-template-areas: "header header header header"
                       "foto contenido contenido contenido"
                       "footer footer footer footer" ;
}

.contenedor .header {
  background-color: lightcoral;
  color: white;
  text-align:  center;
  padding: 15px; 
  grid-area: header;  
 } 

.contenedor .contenido {
   background-color: bisque;
   font-family:'Staatliches';
   float:right;
   grid-area: contenido;
 }

.contenedor .foto {
  width: 14rem;
  height:18rem;
   grid-area: foto;
}

.contenedor .footer {
  background-color:darksalmon;
  color: white;
  bottom: 0;
  width:100%;
  text-align:center;
  padding: 20px;
  grid-area: footer;
}
 


.topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darksalmon;
}

.topmenu li {
  float: left;
}

.topmenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  font-family: Tahoma, Verdana, sans-serif;
  padding: 16px;
  text-decoration: none;
}

.topmenu li a:hover {
  background-color: salmon;
}

.topmenu li a.active {
  color: white;
  background-color: tomato;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width:768px){
.contenedor 
{
    grid-template-areas:"header header header header"
                        "foto contenido contenido contenido"
                        "footer footer footer footer" ;}
}

